<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="A personal website for my own use, an example website deployment before moving on to the actual deployment">
		<meta name="author" content="Vladimir Herdman">
    	<link rel="stylesheet" href="../public/stylesheets/style.css">
		<title>Vladimir Herdman</title>
	</head>
	<body>
		<header>
			<h1>Vova Herdman Website Example</h1>
		</header>
		<nav>
			<div class="navbar">
				<a href="index.html">Home</a>
				<a href="extra_page_example.html">Extra Page</a>
			</div>
		</nav>

		<section>
			<div class="explanation">
				<div>
					<h3>This is a test deployment</h3>
					<p>
						Ethan, Luke, Carter, if you're reading this, this is to show
						that a website is possible on GitHub.  Whatever your greatest 
						fantasies, your innermost desires, I can make them a reality.  
						Let's build, my brother.
					</p>
					<p>
						Just reach out and lets text up your website.  To make it
						a little better of a domain name and load-potential, if you
						have a github, we can make the website and then set it up on
						your end.  Send me example sites of what you like, or want
						your website to look like.
					</p>
				</div>
			</div>

			<div class="self-image">
				<p>
					Strapping young man
				</p>
				<img src="../public/images/BusinessSelf.JPG" alt="A handsome young man, strapping even" title="A handsome lad">
				<p>
					Pic for proof (irrefutable) 
					<sup>
						<a href="https://i.kym-cdn.com/entries/icons/original/000/040/390/cover2.jpg" target="_blank">
							(Source)
						</a>
					</sup>
				</p>
			</div>
		</section>

		<footer>

		</footer>
	</body>
<html>
