:root {
	--background-color: #111111;
	--primary-color: rgb(232, 229, 229);
	--social-primary: white;
	--secondary-color:#9CA3AF;
	--tertiary-color: rgba(57, 53, 53, 0.7);
	--card-color: #212020;
	--school-orange: #e85c16;
	--general-link: #31929A;
	transition: all 2s ease;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	color: var(--primary-color);
	font-family: Inter, sans-serif, Helvetica;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	width: 100%;
	min-height: 100vh;
}
* {
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	color: var(--primary-color);
	text-decoration: none;
	transition: background-color 1.5s ease, color 1.5s ease;
}

/******************** Header ********************/
header, .navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-family: Menlo, Consolas, Monaco;
	background-color: transparent;
}
header > span {
	position: absolute;
	top: 35px;
	left: 150px;
}
#header-name {
	font-size: 20px;
}
.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	column-gap: 3.5vw;
	opacity: 0;
	transition: opacity 1.3s ease, transform 1.3s ease;
	transform: translateX(-20vw) translateY(35px);
}
.navbar.loaded {
	opacity: 1;
	transform: translateX(17vw) translateY(35px);
}
.header-link {
	position: relative;
	white-space: nowrap;
}
.header-link::before {
	content: "< ";
	position: absolute;
	top: 0;
	left: -1.2em;
	opacity: 0;
	transition: opacity 2s ease;
}
.header-link::after {
	content: " >";
	position: absolute;
	top: 0;
	right: -1.2em;
	opacity: 0;
	transition: opacity 2s ease;
}
.current-link-loaded::before, .current-link-loaded::after {
	opacity: 1;
}
.current-link-loaded {
	position: relative;
}
.header-underline {
	width: fit-content;
}
.header-underline::after {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: var(--primary-color);
	z-index: 2;
	transition: width 0.45s ease;
}
.header-underline:hover::after {
	width: 100%;
}
.current-link-loaded .code-arrows {
	position: absolute;
	top: 0;
	left: auto;
	right: -0.55em;
	width: 0.5em;
	height: 0.97em;
	opacity: 0;
	color: var(--primary-color);
	background-color: var(--primary-color);
	animation: blink 1s infinite;
	animation-delay: 1s;
}
@keyframes blink {
	0% {opacity: 0;}
	49.99% {opacity: 0;}
	50% {opacity: 0.4;}
	100% {opacity: 0.4;}
}
#dark-light-mode-button {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 35px;
	margin-left: 35px;
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: none;
	padding: 0;
}
#planet {
	--s: 7px; /* length */
	--o: 6px; /* offset */
	--w: 6deg; /* thickness */
	--n: 8; /* numbers*/
	--c: #111111; /* color */
	height: 100%;
	width: 100%;
	background-color: transparent;
	box-shadow: -3px 3px 0 2px var(--primary-color);
	border-radius: 50%;
	transition: background-color 1.5s ease;
}
#planet::before {
	content: "";
	position: absolute;
	top: calc(-1*var(--s) - var(--o));
	bottom: calc(-1*var(--s) - var(--o));
	left: calc(-1*var(--s) - var(--o));
	right: calc(-1*var(--s) - var(--o));
	border-radius: inherit;
	background: repeating-conic-gradient(from calc(-1*var(--w)/2), var(--c) 0 calc(var(--w) - 2deg), transparent calc(var(--w)) calc(360deg/var(--n) - 2deg), var(--c) calc(360deg/var(--n)));
	-webkit-mask: radial-gradient(farthest-side, transparent calc(100% - var(--s)), #fff calc(100% - var(--s)));
          mask:radial-gradient(farthest-side,transparent calc(100% - var(--s)),#fff calc(100% - var(--s)));
}

/******************** Overview ********************/
.overview {
	overflow: hidden;
	margin-top: 150px;
	border: 1px solid var(--tertiary-color);
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 40px;
	padding-left: 10px;
	padding-right: 10px;
	column-gap: 7vw;
	width: 60%;
	opacity: 0;
	transition: opacity 2s ease, background-color 1.5s ease, color 1.5s ease;
}
.overview.loaded {
	opacity: 1;
}
.card {
	position: relative;
	width: 190px;
	height: 254px;
	border-radius: 30px;
	background-color: var(--card-color);
	transform-style: preserve-3d;
	transform:
		perspective(5000px)
		rotateY(var(--rotateY))
		rotateX(var(--rotateX));
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 1.5s ease;
}
.card img {
	width: 100%;
	height: auto;
	border-radius: inherit;
	box-shadow: 15px 15px 30px #2b2a2a,
    			-15px -15px 30px #7b7979;
	animation: shadow-shift 8s infinite linear;
	z-index: 2;
}
.card::before, .card::after {
	content: "";
	position: absolute;
	border-radius: inherit;
}
.card::before {
	inset: 0.75rem;
	background-color: var(--card-color);
	transform: translateZ(-49px);
	filter: blur(15px);
	opacity: 0.5;
	transition: background-color 1.5s ease;
}
.card::after {
	inset: -1rem;
	background: var(--primary-color);
	transform: translateZ(-50px);
	transition: background-color 1.5s ease;
}
@keyframes shadow-shift {
	0% {box-shadow: 15px 15px 30px #2b2a2a,
    			-15px -15px 30px #7b7979;}
	25% {box-shadow: 0px 15px 30px #2b2a2a,
    			0px -15px 30px #7b7979;}
	50% {box-shadow: 0px -15px 30px #2b2a2a,
    			0px 15px 30px #7b7979;}
	75% {box-shadow: 15px -15px 30px #2b2a2a,
    			-15px 15px 30px #7b7979;}
	100% {box-shadow: 15px 15px 30px #2b2a2a,
					-15px -15px 30px #7b7979;}
}
.description {
	width: 50%;
	height: auto;
	display: flex;
	flex-direction: column;
}
.description div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.description > div > p {
	white-space: nowrap;
	font-weight: bold;
	font-size: 2.5rem;
}
.social-tags {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	column-gap: 3vw;
	align-items: center;
	margin-bottom: 10px;
	margin-left: auto;
}
.social-tags svg, .social-tags svg path {
	cursor: pointer;
	width: 25px;
	height: auto;
	fill: var(--secondary-color);
	border: 1px solid var(--tertiary-color);
	border-radius: 7px;
	padding: 10px;
	transition: fill 0.5s ease;
	background-color: transparent;
	transition: fill 1.5s ease, border 1.5s ease, background-color 1.5s ease;
}
.social-tags a:hover svg, .social-tags a:hover svg path{
	fill: var(--social-primary);
}
.social-tags a {
	position: relative;
}
#desc-loc {
	font-size: 1.5rem;
	margin-top: 5px;
	margin-left: 20px;
	color: var(--secondary-color);
	white-space: nowrap;
}
#desc-loc svg, #desc-loc svg path {
	width: 20px;
	height: auto;
	margin: 0;
	fill: var(--secondary-color);
}
#desc-desc {
	font-size: 1.2rem;
	margin-top: 20px;
	width: 115%;
}
.copied-popup::before {
	content: "Email copied to clipboard";
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	background-color: #9CA3AF;
	width: 200px;
	height: 35px;
	border-radius: 5px;
	color: black;
	position: absolute;
	opacity: 0.7;
	top: -20px;
	left: -75px;
	animation: fade 1s linear forwards;
	animation-delay: 0.5s;
	z-index: 2;
}
@keyframes fade {
	0% {opacity: 0.7;}
	100% {opacity: 0;}
}

/******************** Footer ********************/
footer {
	position: relative;
	width: 100%;
	height: 100px;
	margin-top: 80px;
	padding-top: 20px;
}
footer::before {
	content: '';
	position: absolute;
	top: 0;
	left: 15%;
	width: 	70%;
	height: 1px;
	background-color: var(--tertiary-color);
}
footer p {
	text-align: center;
	padding: 10px 30px 0 30px;
	font-size: 1rem;
}
.link-with-underline {
	position: relative;
	color: var(--general-link);
}
.link-with-underline::after {
	content: "";
	background-color: currentColor;
	width: 0%;
	height: 2px;
	position: absolute;
	bottom: -2px;
	left: 0;
	z-index: 2;
	transition: width 0.45s ease;
}
.link-with-underline:hover::after {
	width: 100%;
}

/******************** Education ********************/
.education {
	position: relative;
	margin-top: 90px;
	width: 70%;
	height: fit-content;
}
.education::before {
	content: "";
	position: absolute;
	top: 1.8rem;
	width: 32%;
	height: 100%;
	border-top: 5px solid var(--school-orange);
	border-left: 5px solid var(--school-orange);
	border-radius: 20%;
}
.education::after {
	content: "";
	position: absolute;
	top: 1.8rem;
	right: 0;
	width: 32%;
	height: 100%;
	border-top: 5px solid var(--school-orange);
	border-right: 5px solid var(--school-orange);
	border-radius: 20%;
}
.education h1 {
	white-space: nowrap;
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
}
.onu {
	padding: 2px 25px;
}
.onu :is(h3, h4) {
	margin-top: 10px;
	position: relative;
}
.onu h4 i{
	margin-left: 15px;
}
.onu .right{
	position: absolute;
	top: 0;
	right: 0;
}

/******************** Experiences ********************/
.experiences {
	position: relative;
	width: 60%;
	height: fit-content;
	margin-top: 100px;
}
.experiences::after {
	content: "";
	position: absolute;
	top: 1.8rem;
	right: -3rem;
	width: 37%;
	height: 100%;
	border-right: 5px solid var(--primary-color);
	border-radius: 5%;
}
.experiences h1 {
	white-space: nowrap;
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
}
.experience {
	margin-top: 20px;
}
.experience h3 {
	position: relative;
	font-size: 1.3rem;
}
.experience h4 {
	margin-top: 3px;
	font-size: 1rem;
}
.exp-date {
	font-style: italic;
	color: var(--secondary-color);
	position: absolute;
	top: 50%;
	right: 0;
}
.exp-date::before {
	content: "";
	position: absolute;
	top: 0;
	right: -3.55rem;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	z-index: 2;
	background-color: var(--primary-color);
}
.exp-date::after {
	content: "";
	position: absolute;
	top: 6px;
	right: -3.2rem;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	z-index: 2;
	background-color: var(--school-orange);
	transition: all 1s ease;
}
.experience:hover .exp-date::after {
	background-color: orange;
	transform: scale(1.5);
}
.experience ul {
	width: 80%;
	margin-left: 40px;
}
.experience ul li {
	margin-top: 10px;
}
.languages {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: end;
	align-items:center;
	column-gap: 10px;
	width: 65%;
	margin-left: 20%;
}
.languages div {
	padding: 10px 10px 0 10px;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	align-items: center;
	column-gap: 10px;
	font-size: large;
}
.languages svg {
	width: 40px;
	height: auto;
}
.languages a {
	position: relative;
	display: block;
	cursor: pointer;
	border: 5px solid blue;
}

/******************** Media Queries ********************/
@media screen and (max-width: 1180px) {
	header, .navbar {
		position: static;
		flex-direction: column;
		margin: 0;
		padding: 0;
		row-gap: 25px;
	} 
	header span {
		position: relative;
		top: 0;
		left: 0;
		margin-top: 35px;
	}
	.current-link-loaded .code-arrows{
		top: -34px;
	}
	.navbar {
		transform: translateX(-20vw) translateY(0px);
	}
	.navbar.loaded {
		opacity: 1;
		margin: 0;
		transform: none;
	}
	.header-underline:hover::after {
		width: 100%;
	}
	.header-underline::after {
		left: 0;
	}
	.overview {
		margin-top: 20px;
		flex-direction: column;
		padding: 40px;
	}
	.description {
		margin-top: 40px;
		width: 80%;
		align-items: center;
	}
	.social-tags {
		margin: 0;
		margin-bottom: 10px;
	}
	.education {
		margin-top: 60px;
	}
	.education::after, .education::before {
		width: 5%;
	}
	.onu .right {
		display: none;
	}
  .experiences {
    margin-top: 75px;
  }
	.experiences h1 {
		margin-bottom: 50px;
	}
	.exp-date {
		top: -100%;
		background-color: transparent;
	}
	.languages div p {
		display: none;
	}
}
@media screen and (max-width: 570px) {
	.description {
		margin-top: 40px;
		width: 90%;
	}
	.description > div > p {
		font-size: 1.8rem;
	}
}
